doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" type="text/css" href="/clientLibraries/tailwind.css")
        title My Notebooks
    body(class="bg-gray-800")
        div(class="grid grid-cols-3 grid-gap place-items-center")
            each book in books
                a(href=`notebook/${book.id}`)
                    div(class="inline-block items-center text-center")
                        img(src="images/book.png" class="object-contain")
                        p(id=book.id)=book.name