{
    "MailSettings":{
        "name":
        "subject":
        "host":
        "sender":{
            "user":
            "pass":
        },
        "receiver":{
            "address":
        }
    },
    "Noted":{
        "OnenoteApi":{
            "ClientId":
            "ClientSecret":
            "ClientSecretId":
            "Tenant":
            "AuthEndpoint":
            "TokenEndpoint":
            "RefreshEndpoint":
            "RedirectUri":
        }
    }
}