<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="/styling.css" rel="stylesheet" type="text/css"/>
    <link href="global/globalStyling.css" rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/Javascript/indexJS.js"></script>
    <script src="/projects/clock/clock.js"></script>
</head>
<body>
    <canvas id="clock" height="100" width="100" style="position: absolute;"></canvas>
	<div class="background"></div>
    <nav class="mainGroup" id="Professional">
        <h1 class="groupName">Professional</h1>
        <div class="entry">
            <span><h1>CV</h1></span>
        </div>
        <a href="https://github.com/deji20"><div class="entry">
            <h2>Github</h2>
            <img src="/images/Professional/github.png"/>
        </div></a>
    </nav>

    <nav class="mainGroup" id="Projects">
        <h1 class="groupName">Projects</h1>
        <a href="/2Seconds"><div class="entry">
            <span><h1>2 Sec</h1></span>
        </div></a>
        <a href="/noted"><div class="entry">
            <span><h1>Noted</h1></span>
        </div></a>
    </nav>

    <nav class="mainGroup" id="contact">
        <h1 class="groupName">Contact Info</h1>
        <a href="https://www.facebook.com/deji.ehinlanwo/"><div class="entry">
            <h2>Facebook</h2>
            <img class="pic" src="/images/Contact/Facebook.png"/>
        </div></a>
        <a href="https://www.instagram.com/dejifraliss/"><div class="entry">
            <h2>Instagram</h2>
            <img src="/images/Contact/Instagram.png"/>
        </div></a>
        <a href="https://www.linkedin.com/in/dejiehinlanwo/"><div class="entry">
            <h2>LinkedIn</h2>
            <img src="/images/Contact/linkedIn.png"/>
        </div></a>
    </nav>

    <div id="nav">
        <div class="navMark"></div>
        <div class="navMark"></div>
        <div class="navMark"></div>
    </div>
    <div class="navigation" id="up" onclick="change(-1)"><img src="global/images/Assets/arrow.png"/></div>
    <div class="navigation" id="down" onclick="change(1)"><img src="global/images/Assets/arrow.png"/></div>
</body>
</html>