<div class="background"></div>
<div id="projects" class="w-full flex justify-evenly items-center">
    <a href="/projects/noted">
        <div id="noted" class="text-center w-96 rounded-xl bg-blue-700 bg-opacity-20 text-white shadow-xl">
            <div class="w-full py-3 bg-red-800 bg-opacity-50 rounded-t-xl">
                <h1 class="text-xl">Noted</h1>
            </div>
            <div class="m-2">
                <img class="object-fill border border-black rounded-lg" src="/pages/projects/images/notedSnap.png">
            </div>
            <div>
                <p class="text-sm">
                    A collection of my notes 
                </p>
            </div>
        </div>
    </a>
    <a href="/projects/asteroids">
        <div id="asteroids" class="text-center w-96 rounded-t-xl bg-blue-700 bg-opacity-20 text-white shadow-xl">
            <div class="w-full py-3 bg-red-800 bg-opacity-50 rounded-xl">
                <h1 class="text-xl">Asteroids</h1>
            </div>
            <div class="m-2">
                <img class="object-fill border border-black  rounded-lg" src="/pages/projects/images/asteroidsImage.jpg">
            </div>
            <div>
                <p class="text-sm">
                    A simple game inspired by the arcade classic, "Asteroids" 
                </p>
            </div>
        </div>
    </a>
</div>