<script src="/pages/skills/javascript/skills.js"></script>

<div class="background"></div>
<div class="flex flex-wrap p-10 justify-evenly">
    <div class="m-10 flex flex-shrink flex-col text-center shadow-xl">
        <h1 class="bg-red-800 bg-opacity-75 rounded-t-md">Java</h1>
        <div class="p-2 flex flex-row items-center bg-black bg-opacity-30">
            <div class="relative skill">
                <input class="proficiency" type="hidden" value="92">
                <canvas class="canvas w-40 h-40"></canvas>
                <img class="absolute h-1/3 top-1/3 left-1/3" src="/pages/skills/images/java.png"/>
            </div>
            <p class="text-sm text-left p-5">
                My primary programming language while studying at KEA. With experience creating web and desktop applications, as well as full-stack development with spring and thymeleaf 
            </p>
        </div>
        <h1 class="bg-red-800 bg-opacity-75 rounded-b-md">Experience: 3 Years</h1>
    </div>

    <div class="flex md:flex-row flex-col">
        <div class="m-10 flex flex-col text-center shadow-xl">
            <h1 class="bg-red-800 bg-opacity-75 rounded-t-md">C++</h1>
            <div class="p-2 flex flex-row items-center bg-black bg-opacity-30">
                <div class="relative skill">
                    <input class="proficiency" type="hidden" value="83">
                    <canvas class="canvas w-40 h-40"></canvas>
                    <img class="absolute h-1/3 top-1/3 left-1/3" src="/pages/skills/images/cpp.png"/>
                </div>
                <p class="text-xs text-left p-5">
                    My primary programming language while studying at KEA. With experience creating web and desktop applications, as well as full-stack development with spring and thymeleaf 
                </p>
            </div>
            <h1 class="bg-red-800 bg-opacity-75 rounded-b-md">Experience: 4 Years</h1>
        </div>
        <div class="m-10 flex flex-col text-center shadow-xl">
            <h1 class="bg-red-800 bg-opacity-75 rounded-t-md">Python</h1>
            <div class="p-2 flex flex-row items-center bg-black bg-opacity-30">
                <div class="relative skill">
                    <input class="proficiency" type="hidden" value="56">
                    <canvas class="canvas w-40 h-40"></canvas>
                    <img class=" absolute h-1/3 top-1/3 left-1/3" src="/pages/skills/images/python.png"/>
                </div>
                <p class="text-xs text-left p-5">
                    My primary programming language while studying at KEA. With experience creating web and desktop applications, as well as full-stack development with spring and thymeleaf 
                </p>
            </div>
            <h1 class="bg-red-800 bg-opacity-75 rounded-b-md">Experience: 1 Years</h1>
        </div>
    </div>

    <div class="m-10 flex flex-col text-center shadow-xl">
        <h1 class="bg-red-800 bg-opacity-75 rounded-t-md">Javascript</h1>
        <div class="p-2 flex flex-row items-center bg-black bg-opacity-30">
            <div class="relative skill">
                <input class="proficiency" type="hidden" value="89">
                <canvas class="canvas w-40 h-40"></canvas>
                <img class="absolute h-1/3 top-1/3 left-1/3" src="/pages/skills/images/js.png"/>
            </div>
            <p class="text-xs text-left p-5">
                My primary programming language while studying at KEA. With experience creating web and desktop applications, as well as full-stack development with spring and thymeleaf 
            </p>
        </div>
        <h1 class="bg-red-800 bg-opacity-75 rounded-b-md">Experience: 2 Years</h1>
    </div>
</div>