<script src="/socket.io/socket.io.js"></script>
<script src="/projects/toosec/javascript/streamPlayer.js"></script>
<script src="/projects/toosec/javascript/videoApi.js"></script>
<script src="/projects/toosec/javascript/tooSecond.js"></script>
<script src="/projects/toosec/javascript/streaming.js"></script>
<div class="flex flex-col w-full bg-gray-800">
    <div class="w-full flex">
        <div class="flex max-h-96 w-full">
            <video id="videoPlayer" class="max-h-full w-full object-scale-down" autoplay muted></video>
        </div>
    </div>
    <div class="flex flex-row w-full h-full justify-center items-center">
        <div id="videoScroller" class="w-full whitespace-nowrap overflow-x-scroll overflow-y-hidden shadow-2xl items-center py-5 bg-opacity-30 bg-black">
            <div class="inline-block h-full w-1/2 "></div>
            <div id="vidRef" class="inline-block h-full w-1/2 "></div>
        </div>
    </div>
</div>